<div class="m--v">
	<div class="input-group">
		<i class="input-group__icon icon-search"></i>
		<input type="text" class="input-group__input" placeholder="{{'Please write manager name'|translate}}">
	</div>

	<div class="checkbox">
		<input type="checkbox" class="checkbox__input" id="acc-1" checked>
		<label class="checkbox__label" for="acc-1">
			<img src="https://resources.stuff.co.nz/content/dam/images/1/n/t/2/j/z/image.related.StuffLandscapeSixteenByNine.620x349.1nqgze.png/1515968097908.jpg" alt="" class="avatar">
			<span>Roman Luntsevich</span>
		</label>
	</div>
</div>
