<div class="panel panel--tab">
    <div class="panel__group">
        <span class="panel__group-text">
            Adress information
        </span>
    </div>
    <div class="panel__body">
        <div class="row">
            <div class="col-sm-8">
                <label class="label">Address</label>
                <input type="text" class="input">
            </div>
            <div class="col-sm-4">
                <label class="label">Zipcode</label>
                <input type="text" class="input" placeholder="66-999">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label class="label">Town</label>
                <input type="text" class="input">
            </div>
            <div class="col-sm-6">
                <label class="label">Country</label>
                <input type="text" class="input">
            </div>
        </div>


        <div class="panel__group">
            <span class="panel__group-text">
                Other information
            </span>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="label">VAT number</label>
                <input type="text" class="input">
            </div>
            <div class="col-sm-4">
                <label class="label">CoC no.</label>
                <input type="text" class="input">
            </div>
            <div class="col-sm-4">
                <label class="label">RSIN</label>
                <input type="text" class="input">
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <label class="label">Status</label>
                <select class="input">
                    <option value="suspect">Suspect</option>
                    <option value="prospect">Prospect</option>
                    <option value="company">Company</option>
                </select>
            </div>
        </div>

        <div class="panel__group">
            <span class="panel__group-text">
                Internal information
            </span>
        </div>
        <div>
            <button class="btn btn--blue" (click)="changeInternalNote()" *ngIf="!isShowInternalNote">Show internal note</button>
            <textarea class="input" rows="6" *ngIf="isShowInternalNote"></textarea>
            <button class="btn btn--gray m--t-sm" (click)="changeInternalNote()" *ngIf="isShowInternalNote">Hide internal note</button>
        </div>

        <tabset>
            <tab heading="Additional addresses">
                <app-new-company-additional-addresses></app-new-company-additional-addresses>
            </tab>
            
            <tab heading="Social">
                <app-new-company-social-online></app-new-company-social-online>
            </tab>
            
            <tab heading="Description">
                <app-new-company-description></app-new-company-description>
            </tab>
        </tabset>
    </div>
</div>

<div class="m--t-md t--c">
    <button class="btn btn--link">Clear</button>
    <button class="btn btn--blue">Save</button>
</div>