<div>
	<div class="panel__group">
		<span class="panel__group-text">
			Call back on
		</span>
		<div class="panel__group-btns">
			<div class="input-group">
				<i class="input-group__icon icon-calendar"></i>
				<input type="text" class="input-group__input t--c" placeholder="09-06-2019 18:55">
			</div>
		</div>
	</div>

	<div class="panel__group">
		<span class="panel__group-text">
			Note (internal)
		</span>
	</div>
	<div class="panel__body">
		<textarea class="input" rows="5"></textarea>
	</div>

	<div class="panel__group">
		<span class="panel__group-text">
			Message for contact
		</span>
	</div>
	<div class="panel__body">
		<textarea class="input" rows="5"></textarea>
	</div>

	<div class="panel__group">
		<span class="panel__group-text">
			Message for contact
		</span>
	</div>
	<div class="panel__body">
		<div class="checkbox">
			<input type="checkbox" class="checkbox__input" id="send-email">
			<label for="send-email" class="checkbox__label">Send an e-mail update to the customer</label>
		</div>

		<div class="m--t-md t--c">
			<button class="btn btn--link">Clear</button>
			<button class="btn btn--blue">Save</button>
		</div>
	</div>
</div>