<div>
  <label class="label">LinkedIn</label>
  <div class="input-group">
    <i class="input-group__icon icon-www"></i>
    <input type="text" class="input-group__input" placeholder="E.g. https://www.linkedin.com/company/salesinteract/">
  </div>
</div>
<div>
  <label class="label">Facebook</label>
  <div class="input-group">
    <i class="input-group__icon icon-www"></i>
    <input type="text" class="input-group__input" placeholder="E.g. https://www.facebook.com/salesinteract/">
  </div>
</div>
<div>
  <label class="label">Twitter</label>
  <div class="input-group">
    <i class="input-group__icon icon-twitter"></i>
    <input type="text" class="input-group__input" placeholder="E.g. https://www.twitter.com/salesinteract/">
  </div>
</div>