<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<section class="header">

				<div class="header__left">
					<div class="header__icon">
						<i class="header__icon-icon icon-mail"></i>
					</div>
					<div>
						<p class="header__title">Shared files</p>
						<ul class="header__breadcrumbs">
							<li class="header__breadcrumbs-item">
								<span href="" class="header__breadcrumbs-span">
									Home page
								</span>
							</li>
						</ul>
					</div>
				</div>

			</section>
		</div>
    </div>
    



</div>