.task-item {
  position: relative;
  margin-bottom: 10px;
}
.task-item .task-item__manager {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
}
.task-item .task-item__manager-icon {
  color: #A5C1D4;
  margin-right: 6px;
}
.task-item .task-item__status-badge {
  height: 22px;
  line-height: 18px;
  padding: 2px 20px;
  font-size: 12px;
  min-width: 88px;
}
.task-item .task-item__status-arrow {
  margin: 0 10px;
  color: #A5C1D4;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .task-item .task-item__flex {
    flex-wrap: wrap;
  }
  .task-item .task-item__flex-title {
    margin-bottom: 15px;
  }
  .task-item .task-item__flex-manager {
    margin-bottom: 15px;
  }
}
