<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<section class="header">

				<div class="header__left">
					<div class="header__icon">
						<i class="header__icon-icon icon-calendar"></i>
					</div>
					<div>
						<p class="header__title">Calendar</p>
						<ul class="header__breadcrumbs">
							<li class="header__breadcrumbs-item">
								<span href="" class="header__breadcrumbs-span">
									Home page
								</span>
							</li>
						</ul>
					</div>
				</div>

			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel">
				<div *ngIf="calendarOptions">
					<ng-fullcalendar 
						class="calendar" 
						#ucCalendar 
						[options]="calendarOptions" 
						(eventClick)="eventClick($event.detail)" 
						(eventDrop)="updateEvent($event.detail)"
						(eventResize)="updateEvent($event.detail)" 
						(clickButton)="clickButton($event.detail)"
						>
					</ng-fullcalendar>
				</div>
			</div>
		</div>
	</div>
</div>