<div>
  <div class="panel__group">
    <span class="panel__group-text">
     {{'Call back on'|translate}}
    </span>
  </div>

  <div class="panel__body">
    <div class="row flex flex--middle">
      <div class="col-lg-6">
        <div class="checkbox">
          <input type="radio" class="checkbox__input" name="call-back" id="call-back-tommorow">
          <label for="call-back-tommorow" class="checkbox__label">{{'Tomorrow'|translate}}</label>
        </div>
        <div class="checkbox">
          <input type="radio" class="checkbox__input" name="call-back" id="call-back-next-week">
          <label for="call-back-next-week" class="checkbox__label">{{'Next week'|translate}}</label>
        </div>
        <div class="checkbox">
          <input type="radio" class="checkbox__input" name="call-back" id="call-back-different">
          <label for="call-back-different" class="checkbox__label">{{'Different'|translate}}</label>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <i class="input-group__icon icon-calendar"></i>
          <input type="text" class="input-group__input t--c" placeholder="09-06-2019 18:55">
        </div>
      </div>
    </div>
  </div>

  <div class="panel__group">
    <span class="panel__group-text">
     {{'Note (internal)'|translate}}
    </span>
  </div>
  <div class="panel__body">
    <textarea class="input" rows="5"></textarea>
  </div>

  <div class="panel__group">
    <span class="panel__group-text">
      {{'Message for contact'|translate}}
    </span>
  </div>
  <div class="panel__body">
    <textarea class="input" rows="5"></textarea>
  </div>

  <div class="panel__group">
    <span class="panel__group-text">
      {{'Message for contact'|translate}}
    </span>
  </div>
  <div class="panel__body">
    <div class="checkbox">
      <input type="checkbox" class="checkbox__input" id="send-email">
      <label for="send-email" class="checkbox__label">{{'Send an e-mail update to the customer'|translate}}</label>
    </div>

    <div class="m--t-md t--c">
      <button class="btn btn--link">{{'Clear'|translate}}</button>
      <button class="btn btn--blue">{{'Save'|translate}}</button>
    </div>
  </div>
</div>
