<div class="panel panel--tab">
  <div class="panel__group">
    <span class="panel__group-text">
      Search CoC
    </span>
  </div>
  <div class="panel__body">

    <p class="t--gray-dark m--b-sm">
      Please note that there are costs associated with the use of the search via the Chamber of Commerce
    </p>

		<div class="row">
			<div class="col-xs-8 col-xs-push-2">
        <div class="input-group">
          <i class="input-group__icon icon-search"></i>
          <input type="text" class="input-group__input" placeholder="Please write CoC company number...">
        </div>
			</div>
    </div>

    <div class="m--t-md t--c">
      <button class="btn btn--link">Cancel</button>
      <button class="btn btn--blue">Search</button>
    </div>
  </div>
</div>

<div class="panel">
    <div class="panel__group">
      <span class="panel__group-text">
        Results
      </span>
    </div>
  <div class="panel__body">
    <ul class="list list--v list--line">
      <li class="list__item">
        <div class="flex flex--middle">
          <img alt="" class="avatar avatar--square m--r-sm" src="https://images.asos-media.com/products/bejsbolka-chernyj-belyj-the-north-face-the-norm/10265685-1-black?$XL$?$XXL$&amp;wid=300&amp;fmt=jpeg&amp;qlt=80,0&amp;op_sharpen=0&amp;resMode=sharp2&amp;op_usm=1,0.4,6,1&amp;iccEmbed=0&amp;printRes=72">
          <div>
            <p class="m--reset">
              <a class="t--semi-bold link link--reset" href="">WALD International</a>
            </p>
            <p class="t--gray t--md m--reset">Company</p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="flex flex--middle">
          <img alt="" class="avatar avatar--square m--r-sm" src="https://images.asos-media.com/products/bejsbolka-chernyj-belyj-the-north-face-the-norm/10265685-1-black?$XL$?$XXL$&amp;wid=300&amp;fmt=jpeg&amp;qlt=80,0&amp;op_sharpen=0&amp;resMode=sharp2&amp;op_usm=1,0.4,6,1&amp;iccEmbed=0&amp;printRes=72">
          <div>
            <p class="m--reset">
              <a class="t--semi-bold link link--reset" href="">Mercedes-Benz Gmbh</a>
            </p>
            <p class="t--gray t--md m--reset">Company</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>