<div class="registration">
	<div class="registration__panel">

		<!-- Step 1 -->
		<div class="registration__panel-left" *ngIf="step == 1">
			<img class="registration__panel-logo" src="/assets/img/logo.png" alt="">

			<!-- Registration social networks-->
			<div>
				<p class="t--h4 m--b-sm">{{'Registration'|translate}}</p>
				<p class="t--muted t--md m--b">{{'Use one of the following providers to start a quick registration process'|translate}}</p>
				<div class="row">
					<div class="col-sm-6">
						<button class="registration__btn registration__btn--facebook btn btn--gray">
							<svg-icon class="btn__icon" src="assets/svg/social/facebook.svg"></svg-icon>
							<span class="btn__text">Facebook</span>
						</button>
					</div>
					<div class="col-sm-6">
						<button class="registration__btn registration__btn--google btn btn--gray">
							<svg-icon class="btn__icon" src="assets/svg/social/google.svg"></svg-icon>
							<span class="btn__text">Google</span>
						</button>
					</div>
					<div class="col-sm-6">
						<button class="registration__btn registration__btn--salesforce btn btn--gray">
							<svg-icon class="btn__icon" src="assets/svg/social/salesforce.svg"></svg-icon>
							<span class="btn__text">Salesforce</span>
						</button>
					</div>
					<div class="col-sm-6">
						<button class="registration__btn registration__btn--linkedin btn btn--gray">
							<svg-icon class="btn__icon" src="assets/svg/social/linkedin.svg"></svg-icon>
							<span class="btn__text">LinkedId</span>
						</button>
					</div>
				</div>
			</div>

			<!-- Registration email-->
			<div>
				<p class="t--muted t--md m--b">{{'Register through your email adres'|translate}}</p>
				<div>
					<label for="" class="label">{{'E-mail address'|translate}}</label>
					<input type="email" class="input" placeholder="example@salesinteract.com" [(ngModel)]="email">
				</div>
				<div class="checkbox checkbox--sm m--b">
					<input class="checkbox__input" type="checkbox" id="agree" [(ngModel)]="agree">
					<label class="checkbox__label" for="agree">
						{{'Yes, I agree to the'|translate}}
						<a class="link link--line t--blue" href="https://www.salesinteract.com/terms-of-service/?_ga=2.157596345.2018200033.1542471224-1613555883.1542361943" target="_blank">{{'terms of service'|translate}}</a>
					</label>
				</div>
				<p class="t--md m--b t--regular t--gray">
					{{'By registering, you confirm that you have read and agree to the'|translate}}
					<a class="link link--line t--blue" href="https://www.salesinteract.com/privacy-policy/?_ga=2.228024094.2018200033.1542471224-1613555883.1542361943">{{'privacy policy'|translate}}</a>
					{{'and the'|translate}}
					<a class="link link--line t--blue" href="https://www.salesinteract.com/dpa/?_ga=2.152419130.2018200033.1542471224-1613555883.1542361943">{{'data processing agreement'|translate}}</a>.
				</p>
				<div class="flex flex--middle flex--space-between">
					<button class="btn btn--blue" (click)="registration()" [disabled]="!email?.length && !agree">{{'Register'|translate}}</button>
					<button class="btn btn--link" [routerLink]="['/login']">{{'Cancel'|translate}}</button>
				</div>
			</div>
		</div>

		<div class="registration__panel-right" *ngIf="step == 1">
			<div>
				<h2 class="registration__panel-title">{{'Go ahead Start your free 30-Day Trial'|translate}}</h2>
				<p class="registration__panel-text">{{'Next generation CRM for companies that take their sales serious'|translate}} </p>
				<p class="registration__panel-text">{{'If you wanna be part of the big shift in marketing, connect with your customers'|translate}} </p>
			</div>

			<p class="registration__panel-copyright m--t-xlg">
				2018 {{'Copyright'|translate}} <b>Salesinteract</b>
			</p>
		</div>

		<!-- Step 2 -->
		<div class="registration__panel-left" *ngIf="step == 2">
			<img class="registration__panel-logo" src="/assets/img/logo.png" alt="">

			<!-- Registration information-->
			<div>
				<p class="t--gray t--md t--bold m--b">{{'Please confirm you email and activate verification link'|translate}}</p>
			</div>
			<div class="flex flex--middle flex--space-between">
				<button class="btn btn--blue" (click)="registration()" [disabled]="!email?.length && !agree">{{'Check email'|translate}}</button>
				<button class="btn btn--link" [routerLink]="['/']">{{'Go to site'|translate}}</button>
			</div>
		</div>
	
		<div class="registration__panel-right" *ngIf="step == 2">
			<div>
				<h2 class="registration__panel-title">{{'Thanks'|translate}}</h2>
				<p class="registration__panel-text">{{'Clearly you are an important person... a mover and a shaker. You are probably very attractive and intelligent, too.'|translate}} </p>
				<p class="registration__panel-text">{{'That is why you just purchased this amazing software license. You know it is going to help turn your business into a titan of industry.'|translate}} </p>
				<p class="registration__panel-text">{{'Books will be written. Songs will be sung. Parades will be thrown.'|translate}} </p>
				<p class="registration__panel-text">{{'Go forth and build something incredible.'|translate}} </p>
				<p class="registration__panel-text">{{'Oh, you will receive an e-mail with a confirmation link which is valid for one hour. You can now close this window.'|translate}} </p>
				<!-- <p class="registration__panel-text">{{''|translate}} </p> -->
			</div>

			<p class="registration__panel-copyright m--t-xlg">
				2018 {{'Copyright'|translate}} <b>Salesinteract</b>
			</p>
		</div>
	</div>
</div>
