<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<section class="header">

				<div class="header__left">
					<div class="header__icon">
						<i class="header__icon-icon icon-setting"></i>
					</div>
					<div>
						<p class="header__title">{{'Settings page'|translate}}</p>
						<ul class="header__breadcrumbs">
							<li class="header__breadcrumbs-item">
								<span href="" class="header__breadcrumbs-span">
									{{'Home page'|translate}}
								</span>
							</li>
						</ul>
					</div>
				</div>

			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<a class="btn btn--text-icon">
				<svg-icon class="btn__icon" src="assets/svg/profile.svg"></svg-icon>
				<span class="btn__text">{{'My account'|translate}}</span>
			</a>
		</div>

		<div class="col-sm-3">
			<a class="btn btn--text-icon">
				<svg-icon class="btn__icon" src="assets/svg/settings.svg"></svg-icon>
				<span class="btn__text">{{'Company settings'|translate}}</span>
			</a>
		</div>

		<div class="col-sm-3">
			<a class="btn btn--text-icon">
				<svg-icon class="btn__icon" src="assets/svg/fast.svg"></svg-icon>
				<span class="btn__text">{{'Task maximum delay settings'|translate}}</span>
			</a>
		</div>

		<div class="col-sm-3">
			<a class="btn btn--text-icon">
				<svg-icon class="btn__icon" src="assets/svg/file.svg"></svg-icon>
				<span class="btn__text">{{'Quotation settings'|translate}}</span>
			</a>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-3 col-sm-push-1">
			<a class="btn btn--text-icon">
				<svg-icon class="btn__icon" src="assets/svg/parking.svg"></svg-icon>
				<span class="btn__text">{{'Product group settings'|translate}}</span>
			</a>
		</div>

		<div class="col-sm-3 col-sm-push-1">
			<a class="btn btn--text-icon">
				<svg-icon class="btn__icon" src="assets/svg/plug.svg"></svg-icon>
				<span class="btn__text">{{'Plugins'|translate}}</span>
			</a>
		</div>

		<div class="col-sm-3 col-sm-push-1">
			<a class="btn btn--text-icon" [routerLink]="[ '/settings/survey' ]">
				<svg-icon class="btn__icon" src="assets/svg/web-design.svg"></svg-icon>
				<span class="btn__text">{{'Form fields'|translate}}</span>
			</a>
		</div>
	</div>
</div>
