<div class="login">
	<div class="login__panel">

		<div class="login__panel-left">
			<img class="login__panel-logo" src="/assets/img/logo.png" alt="">
			<!-- <h2 class="login__panel-title">Salesinteract Login</h2> -->
			<div>
				<label for="" class="label">Email address</label>
				<input type="email" class="input" placeholder="example@salesinteract.com" [(ngModel)]='email'>
			</div>
			<div>
				<label for="" class="label">Password</label>
				<input type="password" class="input" placeholder="********" [(ngModel)]='password'>
			</div>
			<div class="flex flex--middle flex--space-between">
				<button class="btn btn--blue" (click)="login()">Login</button>
				<button class="btn btn--link">Forgot password?</button>
			</div>
			<!-- <div class="m--t-lg t--c">
				<button class="btn btn--sm btn--gray btn--squared">1</button>
				<button class="btn btn--sm btn--gray btn--squared">2</button>
			</div> -->
		</div>

		<div class="login__panel-right">
			<div>
				<h2 class="login__panel-title">Interactive Easy to use Sales CRM</h2>
				<p class="login__panel-text">Next generation CRM for companies that take their sales serious</p>
				<p class="login__panel-text">If you wanna be part of the big shift in marketing, connect with your customers</p>
			</div>
			<div class="m--t-xlg t--c">
				<p class="t--regular">Do not have an account?</p>
				<button class="btn btn--green" [routerLink]="['/registration']">Register now</button>
			</div>

			<p class="login__panel-copyright">
				2018 Copyright <b>Salesinteract</b>
			</p>

		</div>
	</div>
</div>
