<div class="login">
	<div class="login__panel">

		<div class="login__panel-left">
			<img class="login__panel-logo" src="/assets/img/logo.png" alt="">

			<!-- Login -->
			<div *ngIf="!isResetPassword">
				<p class="t--h3 m--b-sm">Login</p>
				<!-- <p class="t--muted t--md m--b">To reset your password we need your email address</p> -->
				<div>
					<label for="" class="label">E-mail address</label>
					<input type="email" class="input" placeholder="example@salesinteract.com" [(ngModel)]='email'>
				</div>
				<div>
					<label for="" class="label">Password</label>
					<input type="password" class="input" placeholder="********" [(ngModel)]='password'>
				</div>
				<div class="flex flex--middle flex--space-between">
					<button class="btn btn--blue" (click)="login()">Login</button>
          <button class="btn btn--link" (click)="resetPassword()">Forgot password?</button>
          <span *ngIf='error'>Incorrect login or password</span>
				</div>
			</div>

			<!-- Reset password -->
			<div *ngIf="isResetPassword">
				<p class="t--h3 m--b-sm">Reset password</p>
				<p class="t--muted t--md m--b">To reset your password we need your email address</p>
				<div>
					<label for="" class="label">E-mail address</label>
					<input type="email" class="input" placeholder="example@salesinteract.com">
				</div>
				<div class="flex flex--middle flex--space-between">
					<button class="btn btn--blue">Send</button>
					<button class="btn btn--link" (click)="resetPassword()">Cancel</button>
				</div>
			</div>

			<!-- Reset password with error -->
			<div *ngIf="isResetPasswordError">
				<p>Dit e-mailadres is niet bekend bij ons</p>
				<div class="flex flex--middle flex--space-between">
					<button class="btn btn--blue">Probeer nogmaals</button>
				</div>
			</div>

			<!-- Reset password without error -->
			<div *ngIf="isResetPasswordError">
				<p>Dit e-mailadres is niet bekend bij ons</p>
				<div class="flex flex--middle flex--space-between">
					<button class="btn btn--blue">Probeer nogmaals</button>
				</div>
			</div>
		</div>

		<div class="login__panel-right">
			<div>
				<h2 class="login__panel-title">Interactive Easy to use Sales CRM</h2>
				<p class="login__panel-text">Next generation CRM for companies that take their sales serious</p>
				<p class="login__panel-text">If you wanna be part of the big shift in marketing, connect with your customers</p>
			</div>
			<div class="m--t-xlg t--c">
				<p class="t--regular">Do not have an account?</p>
				<button class="btn btn--green" [routerLink]="['/register']">Register now</button>
			</div>

			<p class="login__panel-copyright">
				2018 Copyright <b>Salesinteract</b>
			</p>

		</div>
	</div>
</div>
