<div class="panel">

	<!-- ********* -->
	<!-- Edit mode -->
	<!-- ********* -->
	<div *ngIf="isEdit">
	
		<div class="panel__group">
			<span class="panel__group-text">
				Company information
			</span>
		</div>
		<div class="panel__body">
			<div class="row">
				<div class="col-lg-4 col-xs-12 t-xs--c m-xs--b">
					<div class="avatar avatar--xlg avatar--square avatar--edit">
						<img src="http://www.wald.co.jp/img/ogp_logo_bk.png" alt="" class="avatar__img">
						<div class="avatar__btns">
							<button class="btn btn--sm btn--circle">
								<i class="btn__icon icon-edit"></i>
							</button>
							<button class="btn btn--sm btn--circle">
								<i class="btn__icon icon-delete"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="m--t-md">
						<label class="label">Company Name:</label>
						<input type="text" class="input" value="WALD Internationals edit text">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 m--t">
					<div>
						<label class="label">Web site:</label>
						<input type="text" class="input" value="www.example.com">
					</div>
					<div>
						<label class="label">E-mail address:</label>
						<input type="text" class="input" value="marshall@yahoo.com">
					</div>
					<div>
						<label class="label">Phone number:</label>
						<input type="text" class="input" value="+1 (928) 123 445 345">
					</div>
				</div>
			</div>
		</div>
	
		<!-- Details information -->
		<div class="panel__group">
			<span class="panel__group-text">
				Details information
			</span>
		</div>
		<div class="panel__body">
			<div>
				<label class="label">VAT number:</label>
				<input type="text" class="input" value="12%">
			</div>
			<div>
				<label class="label">Chamber of Commerce:</label>
				<input type="text" class="input" value="Europe / Amsterdam">
			</div>
			<div>
				<label class="label">RSIN:</label>
				<input type="text" class="input" value="434568">
			</div>

			<div>
				<label class="label">Classification:</label>
				<div class="row">
					<div class="col-lg-3 col-xs-3">
						<div class="checkbox">
							<input type="radio" class="checkbox__input" name="сlassification" id="a" checked>
							<label for="a" name="сlassification" class="checkbox__label">A</label>
						</div>
					</div>
					<div class="col-lg-3 col-xs-3">
						<div class="checkbox">
							<input type="radio" class="checkbox__input" name="сlassification" id="b">
							<label for="b" name="сlassification" class="checkbox__label">B</label>
						</div>
					</div>
					<div class="col-lg-3 col-xs-3">
						<div class="checkbox">
							<input type="radio" class="checkbox__input" name="сlassification" id="c">
							<label for="c" name="сlassification" class="checkbox__label">C</label>
						</div>
					</div>
					<div class="col-lg-3 col-xs-3">
						<div class="checkbox">
							<input type="radio" class="checkbox__input" name="сlassification" id="d">
							<label for="d" name="сlassification" class="checkbox__label">D</label>
						</div>
					</div>
				</div>
			</div>

			<div>
				<label class="label">Customer number:</label>
				<input type="text" class="input">
			</div>

		</div>
	
		<!-- Details information -->
		<div class="panel__group">
			<span class="panel__group-text">
				Details information
			</span>
		</div>
		<div class="panel__body">
			<textarea class="input" rows="6" placeholder="Lorem Ipsum is simply dummy text of the printing"></textarea>			
		</div>
	
		<!-- Action information -->
		<div class="panel__group">
			<span class="panel__group-text">
				Actions
			</span>
		</div>
		<div class="panel__body">
			<div>
				<label class="label">Promote to:</label>
				<input type="text" class="input" value="Suspect">
			</div>		
		</div>

		<!-- Online / Social links -->
		<div class="panel__group">
			<span class="panel__group-text">
				Online / Social links
			</span>
		</div>
		<div class="panel__body">
			<div>
				<label class="label">LinkedIn:</label>
				<input type="text" class="input" placeholder="https://www.linkedin.com/test">
			</div>
			<div>
				<label class="label">Facebook:</label>
				<input type="text" class="input" placeholder="https://www.facebook.com/test">
			</div>
			<div>
				<label class="label">Twitter:</label>
				<input type="text" class="input" placeholder="https://twitter.com/test">
			</div>
		</div>

		<!-- Billing address information -->
		<div class="panel__group">
			<span class="panel__group-text">
				Billing address
			</span>
		</div>
		<div class="panel__body">
			<div>
				<label class="label">Address:</label>
				<input type="text" class="input" value="226 Kingsland Avenue, Winchester">
			</div>
			<div>
				<label class="label">Zipcode city:</label>
				<input type="text" class="input" value="9948">
			</div>
			<div>
				<label class="label">Country:</label>
				<input type="text" class="input" value="Netherlands">
			</div>
		</div>

		<!-- Visiting address information -->
		<div class="panel__group">
			<span class="panel__group-text">
				Visiting address
			</span>
		</div>
		<div class="panel__body">
			<div>
				<label class="label">Address:</label>
				<input type="text" class="input" value="43799-12 Winchester, Kingsland Avenue">
			</div>
			<div>
				<label class="label">Zipcode city:</label>
				<input type="text" class="input" value="32467">
			</div>
			<div>
				<label class="label">Country:</label>
				<input type="text" class="input" value="Netherlands">
			</div>
			<div class="t--c m--t">
				<button class="btn btn--link btn--sm" (click)="edit()">Cancel</button>
				<button class="btn btn--blue btn--sm" (click)="edit()">Save</button>
			</div>
		</div>
	</div>


	<!-- ********* -->
	<!-- Show mode -->
	<!-- ********* -->
	<div *ngIf="!isEdit">
	
		<div class="panel__group">
			<span class="panel__group-text">
				Company information
			</span>
			<div class="panel__group-btns">
				<button class="btn btn--circle btn--blue btn--sm" (click)="edit()">
					<i class="btn__icon icon-edit"></i>
				</button>
			</div>
		</div>
		<div class="panel__body">
			<div class="row">
				<div class="col-lg-4 col-xs-12 t-xs--c m-xs--b">
					<div class="avatar avatar--xlg avatar--square avatar--empty">
						<img class="avatar__img" src="http://www.wald.co.jp/img/ogp_logo_bk.png" alt="">
					</div>
				</div>
				<div class="col-lg-8">
					<p class="m--b-sm t--h4 t--semi-bold">WALD International</p>
					
					<p class="m--b-sm">
						<i class="icon-mail m--r-mini t--gray"></i>
						marshall@yahoo.com
					</p>
					<p class="m--b-sm">
						<i class="icon-www m--r-mini t--gray"></i>
						www.website.com
					</p>
					<p class="m--b-sm">
						<i class="icon-phone m--r-mini t--gray"></i>
						+1 (928) 123 445 345
					</p>
					<div>
						<a href="" class="btn btn--squared btn--ssm btn--social-linkedin" target="_blank">
							<svg-icon class="btn__icon m--reset" src="assets/svg/social/linkedin.svg"></svg-icon>
						</a>
						<a href="" class="btn btn--squared btn--ssm btn--social-facebook" target="_blank">
							<svg-icon class="btn__icon m--reset" src="assets/svg/social/facebook.svg"></svg-icon>
						</a>
						<a href="" class="btn btn--squared btn--ssm btn--social-twitter" target="_blank">
							<svg-icon class="btn__icon m--reset" src="assets/svg/social/twitter.svg"></svg-icon>
						</a>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Adress company -->
		<div class="panel__group">
			<span class="panel__group-text">
				Adresses company
			</span>
		</div>
		<div class="panel__body">
			<p>Netherlands, 226 Kingsland Avenue, Winchester, Virgin Islands, 9948</p>
			<div class="t--c m--t-sm">
				<button class="btn btn--gray btn--sm btn--rounded">
					Show all adresses company
				</button>
			</div>
		</div>
	
		<!-- Details information -->
		<div class="panel__group">
			<span class="panel__group-text">
				Details information
			</span>
		</div>
		<div class="panel__body">
			
			<div class="form">
				<div class="form__item">
					<label class="form__label">VAT number:</label>
					<p class="form__text">23%</p>
				</div>
				<div class="form__item">
					<label class="form__label">Chamber of Commerce:</label>
					<p class="form__text">#2345-1234-NL-2018</p>
				</div>
				<div class="form__item">
					<label class="form__label">RSIN:</label>
					<p class="form__text">2345</p>
				</div>
				<div class="form__item">
					<label class="form__label">Classification:</label>
					<p class="form__text">
						<span class="badge badge--gray badge--circle badge--md">
							B
						</span>
					</p>
				</div>
				<div class="form__item">
					<label class="form__label">Customer number:</label>
					<p class="form__text">
						<span class="t--muted t--regular">not set</span>
					</p>
				</div>
			</div>
			
			<p>
				Roident est duis duis sit occaecat ea eiusmod laboris mollit ullamco mollit nisi veniam. it officia commodo ex quis
				ex fugiat ullamco in enim labore...
			</p>
	
			<div class="t--c m--t-sm">
				<button class="btn btn--gray btn--sm btn--rounded">
					Show more information...
				</button>
			</div>
		</div>
	
		<!-- Actions information -->
		<div class="panel__group">
			<span class="panel__group-text">
				Actions
			</span>
		</div>
		<div class="panel__body">
			
			<div class="form">
				<div class="form__item">
					<label class="form__label">Promote to:</label>
					<p class="form__text">Suspect</p>
				</div>
			</div>		
		</div>
		
	</div>
</div>