<div class="panel manager">

	<!-- ********* -->
	<!-- Edit mode -->
	<!-- ********* -->
	<div *ngIf="isEdit">
		<div class="panel__group">
			<span class="panel__group-text">
				Account managers 
				<span class="badge badge--gray badge--rounded">12</span>
			</span>
		</div>
		<div class="panel__body">
			<input class="manager__search input input--sm" type="text" placeholder="Please type name" />
	
			<ul class="manager__list">
				<li class="manager__item" *ngFor="let manager of managerList">
					<div class="flex flex--middle">
						<div class="manager__avatar avatar avatar--empty">
							<img [src]="manager.image" alt="" class="avatar__img">
							<span class="avatar__online" *ngIf="manager.online"></span>
						</div>
						<div>
							<p class="t--h5 t--semi-bold m--reset">{{manager.name}}</p>
							<p class="t--md m--reset">{{manager.email}}</p>
						</div>
					</div>
					<div class="manager__btns">
						<button class="btn btn--red btn--circle btn--sm">
							<i class="btn__icon icon-delete"></i>
						</button>
					</div>
				</li>
			</ul>
	
			<div class="t--c m--t">
				<button class="btn btn--link btn--sm" (click)="edit()">Cancel</button>
				<button class="btn btn--blue btn--sm" (click)="edit()">Save</button>
			</div>
		</div>
	</div>

	<!-- ********* -->
	<!-- Show mode -->
	<!-- ********* -->
	<div *ngIf="!isEdit">
		<div class="panel__group">
			<span class="panel__group-text">
				Account managers 
				<span class="badge badge--gray badge--rounded">12</span>
			</span>
			<div class="panel__group-btns">
				<button class="btn btn--circle btn--blue btn--sm" (click)="edit()">
					<i class="btn__icon icon-edit"></i>
				</button>
			</div>
		</div>
		<div class="panel__body">
			<ul class="manager__list">
				<li class="manager__item" *ngFor="let manager of managerList">
					<div class="flex flex--middle">
						<div class="manager__avatar avatar avatar--empty">
							<img [src]="manager.image" alt="" class="avatar__img">
							<span class="avatar__online" *ngIf="manager.online"></span>
						</div>
						<div>
							<p class="t--h5 t--semi-bold m--reset">{{manager.name}}</p>
							<p class="t--md m--reset">{{manager.email}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>


</div>