// ------------------------------------------------
// Block '.open-offer'
// ------------------------------------------------
.open-offer{

    // Element '.open-offer .open-offer__item'
    & &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    // Element '.open-offer .open-offer__avatar'
    & &__avatar{
        margin-right: 10px;
        border-radius: 4px;
        object-fit: cover;
    }
    
    // Element '.open-offer a.open-offer__name'
    a.open-offer__name{
        color: #252841;
        text-decoration: none;
        
        // Element '.open-offer a.open-offer__name:hover'
        &:hover{
            text-decoration: none;
            box-shadow: none;
            outline: none;
        }
    }
    
    // Element '.open-offer .open-offer__name'
    & &__name{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        color: #252841;
        text-decoration: none;
    }
    
    // Element '.open-offer .open-offer__company'
    & &__company{
        font-weight: 400;
        font-size: .9rem;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 4px 0 0 0;
        color: #B2C8DB;
    }
}