<div>
    <div class="panel__header">
        <span class="panel__header-text">
            Upload new file
        </span>
    </div>
    <div class="panel__body">

        <div class="placeholder placeholder--sm m--b">
            <div class="placeholder__img"></div>
            <p class="placeholder__title">
                Click to select file
            </p>
            <p class="placeholder__desc">
                (Max file size: 25 MB; Allowed formats: Documents, presentations and images)
            </p>
            <input class="placeholder__input" type="file">
        </div>

        <div class="form">
            <div class="form__item">
                <label class="form__label t--semi-bold">File name:</label>
                <input type="text" class="form__input input">
            </div>
            <div class="form__item">
                <label class="form__label t--semi-bold">Total amount:</label>
                <div class="form__input">
                    <div class="input-group">
                        <i class="input-group__icon icon-money-bag"></i>
                        <input type="text" class="input-group__input">
                    </div>
                </div>
            </div>
            <div class="form__item">
                <label class="form__label t--semi-bold">Valid until:</label>
                <div class="form__input">
                    <div class="input-group">
                        <i class="input-group__icon icon-calendar"></i>
                        <input type="text" class="input-group__input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel__header">
        <span class="panel__header-text">
            Call back on
        </span>
        <div class="panel__header-btns">
            <div class="input-group">
                <i class="input-group__icon icon-calendar"></i>
                <input type="text" class="input-group__input" value="09-06-2019 18:55">
            </div>
        </div>
    </div>

    <div class="panel__header">
        <span class="panel__header-text">
            Note (internal)
        </span>
    </div>
    <div class="panel__body">
        <textarea class="input" rows="5"></textarea>
    </div>

    <div class="panel__header">
        <span class="panel__header-text">
            Message for contact
        </span>
    </div>
    <div class="panel__body">
        <textarea class="input" rows="5"></textarea>
    </div>

    <div class="panel__header">
        <span class="panel__header-text">
            Message for contact
        </span>
    </div>
    <div class="panel__body">
        <div class="checkbox">
            <input type="checkbox" class="checkbox__input" id="send-email">
            <label for="send-email" class="checkbox__label">Send an e-mail update to the customer</label>
        </div>
    </div>
</div>