<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12">
			<section class="header">

				<div class="header__left">
					<div class="header__icon">
						<i class="header__icon-icon icon-dashboard"></i>
					</div>
					<div>
						<p class="header__title">Quick views</p>
						<ul class="header__breadcrumbs">
							<li class="header__breadcrumbs-item">
								<a href="" class="header__breadcrumbs-link">
									Home page
								</a>
							</li>
							<li class="header__breadcrumbs-item">
								<span href="" class="header__breadcrumbs-span">
									Dashboard page
								</span>
							</li>
						</ul>
					</div>
				</div>

			</section>
		</div>
	</div>

	<div class="row">	
		<div class="col-lg-12">
			<div class="panel" *ngFor="let item of userList; index as i">
				<div class="panel__header">
					<div class="flex flex--middle">
						<img class="m--r-sm" [src]="item.photoUrl" *ngIf="item.photoUrl" alt="">
						<span class="avatar avatar--empty m--r-sm" *ngIf="!item.photoUrl"></span>

						<div>
							<p class="panel__header-title">
								#{{i+1}} {{item.firstName}} {{item.lastName}}
							</p>
							<p class="panel__header-text">
								Personal statistics
							</p>
						</div>

						<button class="btn btn--circle btn--gray btn--ssm m--l">
							<svg-icon class="btn__icon m--reset" src="assets/svg/profile.svg"></svg-icon>
						</button>
					</div>
					
					<div [hidden]="!item.isCollapsedTopBar">
						<span class="badge" 
								*ngFor="let item of item.contactGraphList"
								[ngStyle]="{'background-color': item.color}">{{item.title}}: {{item.count}}</span>
					</div>

					<div>
						<button class="btn btn--squared btn--gray btn--ssm" 
								(click)="item.isCollapsedTopBar = !item.isCollapsedTopBar"
								[attr.aria-expanded]="!item.isCollapsedTopBar" 
								aria-controls="collapseBasic">
							<i class="btn__icon" [ngClass]="{'icon-arrow-down-fill': item.isCollapsedTopBar, 'icon-arrow-up-fill': !item.isCollapsedTopBar}"></i>
						</button>
						<button class="btn btn--circle btn--ssm btn--gray m--l"
								[popover]="dashPersonalStatistics"
								triggers="focus"
								container="body"
								placement="left">
							<i class="btn__icon icon-question"></i>
						</button>
					</div>
				</div>
				<div class="panel__body" [collapse]="item.isCollapsedTopBar">

					<div class="row row--divider">
						<div class="col-lg-3">
							<p class="t--semi-bold">Task history</p>
							<app-task-history-list [taskData]="item.taskHistoryList"></app-task-history-list>
						</div>

						<div class="col-lg-2">
							<p class="t--semi-bold">Contacten</p>
							<app-contact-list [contactData]="item.contactGraphList"></app-contact-list>
						</div>

						<div class="col-lg-4">
							<p class="t--semi-bold">Complete tasks</p>
							<app-complete-task [completeData]="item.completeTaskList"></app-complete-task>
						</div>

						<div class="col-lg-3">
							<p class="t--semi-bold">Open offers</p>
							<app-open-offers-list [openOffersData]="item.taskHistoryList"></app-open-offers-list>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>