.empty {
  position: relative;
  text-align: center;
  color: #dae6ed;
  padding: 50px 0;
}
.empty .empty__icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 5rem;
  line-height: 5rem;
  width: 80px;
  height: 80px;
}
.empty .empty__text {
  font-size: 1rem;
  font-weight: 600;
  color: #dae6ed;
  margin: 20px 0;
  text-transform: uppercase;
}
