<div class="panel__group">
    <span class="panel__group-text">
        Upload new file
    </span>
</div>
<div class="panel__body">

    <ul class="file-list m--b">
        <li class="file-list__item">
            <div class="flex flex--middle">
                <img class="file-list__img" src="https://media-cdn.tripadvisor.com/media/photo-s/05/de/d1/83/vvf-villages-rochefort.jpg" alt="">
                <div class="file-list__text">
                    <p class="file-list__text-name">But also the leap into electronic typesetting.png</p>
                    <p class="file-list__text-size">Size: 1200px - 600px ( 2 mb. )</p>
                </div>
            </div>
            <button class="btn btn--square btn--sm btn--gray">
                <i class="btn__icon icon-delete"></i>
            </button>
        </li>
        <li class="file-list__item">
            <div class="flex flex--middle">
                <img class="file-list__img" src="https://media-cdn.tripadvisor.com/media/photo-s/05/de/d1/83/vvf-villages-rochefort.jpg" alt="">
                <div class="file-list__text">
                    <p class="file-list__text-name">But also the leap into electronic typesetting.png</p>
                    <p class="file-list__text-size">Size: 1200px - 600px ( 2 mb. )</p>
                </div>
            </div>
            <button class="btn btn--square btn--sm btn--gray">
                <i class="btn__icon icon-delete"></i>
            </button>
        </li>
    </ul>

    <div class="placeholder">
        <div class="placeholder__img"></div>
        <p class="placeholder__title">
            Click to select file
        </p>
        <p class="placeholder__desc">
            (Max file size: 25 MB; Allowed formats: Documents, presentations and images)
        </p>
        <input class="placeholder__input" type="file">
    </div>
</div>