// out: ../../css/components/icon.css, compress: true
@import '../variables.less';

.icon{
    position: relative;
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;
    font-size: 1.3rem;
    line-height: 1;
    
    // & > svg{
    //     &:extend(.icon);
    // }

    &&--sm{
        // > svg{
        //     height: 14px;
        // }
    }

    &&--md{
        font-size: 20px;

        // > svg{
        //     width: 35px;
        //     height: 35px;
        // }   
    }
}


// ---------------------------------------------------------------------------
// size: xSmall
// ----------------------------------------------------------------------------
@media only screen and (max-width: @breakpoint-xs-max) and (min-width: @breakpoint-xs-min) {



}

