<div class="top-menu">
	<div>
		<a href="" class="top-menu__burger btn btn--circle btn--blue">
			<i class="btn__icon icon-burger"></i>
		</a>
		<div class="top-menu__search">
			<input type="text" class="input">
			<i class="top-menu__search-icon icon-search"></i>
			<i class="top-menu__search-clear icon-close"></i>

			<div class="top-menu__overlay"></div>

			<div class="top-menu__dropdown">
				<p class="top-menu__dropdown-title">Companyes</p>
				
				<ul class="top-menu__dropdown-list">
					<li class="top-menu__dropdown-item">
						<a href="" class="top-menu__dropdown-link">
							<img src="http://4.bp.blogspot.com/_tF_DyjQ-CPA/TIryLG_DK3I/AAAAAAAADzk/SoDnilaHmb4/s1600/volkswagen-logo.jpg" alt="">
							<div>
								<p class="m--reset t--md t--semi-bold">Grok Company LTD</p>
								<p class="m--reset t--md">226 Kingsland Avenue, Winchester, Virgin Islands, 9948</p>
							</div>
						</a>
					</li>
					<li class="top-menu__dropdown-item">
						<a href="" class="top-menu__dropdown-link">
							<img src="http://4.bp.blogspot.com/_tF_DyjQ-CPA/TIryLG_DK3I/AAAAAAAADzk/SoDnilaHmb4/s1600/volkswagen-logo.jpg" alt="">
							<div>
								<p class="m--reset t--md t--semi-bold">Grok Company LTD</p>
								<p class="m--reset t--md">226 Kingsland Avenue, Winchester, Virgin Islands, 9948</p>
							</div>
						</a>
					</li>
					<li class="top-menu__dropdown-item">
						<a href="" class="top-menu__dropdown-link">
							<img src="http://4.bp.blogspot.com/_tF_DyjQ-CPA/TIryLG_DK3I/AAAAAAAADzk/SoDnilaHmb4/s1600/volkswagen-logo.jpg" alt="">
							<div>
								<p class="m--reset t--md t--semi-bold">Grok Company LTD</p>
								<p class="m--reset t--md">226 Kingsland Avenue, Winchester, Virgin Islands, 9948</p>
							</div>
						</a>
					</li>
				</ul>

				<p class="top-menu__dropdown-title">Contacts</p>
				
				<ul class="top-menu__dropdown-list">
					<li class="top-menu__dropdown-item">
						<a href="" class="top-menu__dropdown-link">
							<img src="http://4.bp.blogspot.com/_tF_DyjQ-CPA/TIryLG_DK3I/AAAAAAAADzk/SoDnilaHmb4/s1600/volkswagen-logo.jpg" alt="">
							<div>
								<p class="m--reset t--md t--semi-bold">Grok Company LTD</p>
								<p class="m--reset t--md">226 Kingsland Avenue, Winchester, Virgin Islands, 9948</p>
							</div>
						</a>
					</li>
					<li class="top-menu__dropdown-item">
						<a href="" class="top-menu__dropdown-link">
							<img src="http://4.bp.blogspot.com/_tF_DyjQ-CPA/TIryLG_DK3I/AAAAAAAADzk/SoDnilaHmb4/s1600/volkswagen-logo.jpg" alt="">
							<div>
								<p class="m--reset t--md t--semi-bold">Grok Company LTD</p>
								<p class="m--reset t--md">226 Kingsland Avenue, Winchester, Virgin Islands, 9948</p>
							</div>
						</a>
					</li>
					<li class="top-menu__dropdown-item">
						<a href="" class="top-menu__dropdown-link">
							<img src="http://4.bp.blogspot.com/_tF_DyjQ-CPA/TIryLG_DK3I/AAAAAAAADzk/SoDnilaHmb4/s1600/volkswagen-logo.jpg" alt="">
							<div>
								<p class="m--reset t--md t--semi-bold">Grok Company LTD</p>
								<p class="m--reset t--md">226 Kingsland Avenue, Winchester, Virgin Islands, 9948</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="flex flex--middle">
		<a href="" class="btn btn--circle btn--sm btn--gray">
			<i class="btn__icon icon-notification"></i>
		</a>
		<a href="" class="btn btn--circle btn--sm btn--gray">
			<i class="btn__icon icon-trophy"></i>
		</a>
		<a href="" class="btn btn--circle btn--sm btn--gray btn--notification">
			<i class="btn__icon icon-message"></i>
			<span class="btn__notification"></span>
		</a>
		
		<a href="" class="btn btn--circle btn--sm btn--gray">
			<i class="btn__icon icon-exit"></i>
		</a>

		<div class="top-menu__companies">
			<img class="top-menu__companies-avatar avatar avatar--sm" src="https://cdn.worldvectorlogo.com/logos/coca-cola-1.svg" alt="">
			<div class="hidden--xs">
				<p class="top-menu__companies-name">Coca Cola LTD inc.</p>
				<p class="top-menu__companies-desc">company</p>
			</div>
			<i class="top-menu__companies-icon icon-arrow-down-fill"></i>
		</div>
	</div>
</div>

