<div class="top-menu">
	<div>
		<a href="" class="top-menu__burger btn btn--circle btn--blue">
			<i class="btn__icon icon-burger"></i>
		</a>
		<div class="top-menu__search">
			<input type="text" class="input">
			<i class="top-menu__search-icon icon-search"></i>
			<i class="top-menu__search-clear icon-close"></i>
		</div>
	</div>
	<div>
		<a href="" class="btn btn--circle btn--sm btn--gray">
			<i class="btn__icon icon-notification"></i>
		</a>
		<a href="" class="btn btn--circle btn--sm btn--gray btn--notification">
			<i class="btn__icon icon-message"></i>
			<span class="btn__notification"></span>
		</a>
		
		<a href="" class="btn btn--circle btn--sm btn--gray">
			<i class="btn__icon icon-exit"></i>
		</a>
	</div>

</div>