.task-history .task-history__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-history .task-history__avatar {
  margin-right: 10px;
  border-radius: 4px;
  object-fit: cover;
}
.task-history a.account-list__name {
  color: #252841;
  text-decoration: none;
}
.task-history a.account-list__name:hover {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}
.task-history .task-history__name {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #252841;
  text-decoration: none;
}
.task-history .task-history__company {
  font-weight: 400;
  font-size: .9rem;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0 0 0;
  color: #B2C8DB;
}
