<ul class="task-history list list--v list--line" *ngIf="taskData?.length">
    <li class="task-history__item list__item" *ngFor="let task of taskData | slice:0:4;">
        <div class="task-history__content flex flex--middle">
            <img class="task-history__avatar avatar" [src]="task.image" *ngIf="task?.image" alt="Photo {{task?.contact.name}}">
            <span class="task-history__avatar avatar avatar--empty" *ngIf="!task?.image"></span>
            <div>
                <a href="" class="task-history__name">{{task?.contact.name}}</a>
                <p class="task-history__company">{{task?.organisation_name}}</p>
            </div>
        </div>
        <div class="task-history__status">
            <span class="badge badge--green" *ngIf="task.status == 'completed'">{{task.status}}</span>
            
            <p class="task-history__status-date">{{task.due | date }}</p>
            <p class="task-history__status-date t--red" *ngIf="task.status == 'overdue'">{{task.due | date }}</p>
        </div>
    </li>
</ul>

<app-empty *ngIf="!taskData?.length"></app-empty>

<p class="m--reset t--c" *ngIf="taskData?.length > 4">
    <button class="btn btn--gray btn--ssm col-xs-12" (click)="openSidebar()">Show more</button>
</p>

<!-- Sidebar task history -->
<app-sidebar-task-history [ngClass]="{'open': isOpenSidebar}" [taskHistoryData]="taskData"></app-sidebar-task-history>