<div>
	<div class="panel__group">
		<span class="panel__group-text">
			{{'Visiting address'|translate}}
		</span>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<label class="label">{{'Address'|translate}}</label>
			<input type="text" class="input">
		</div>
		<div class="col-sm-4">
			<label class="label">{{'Zipcode'|translate}}</label>
			<input type="text" class="input" placeholder="66-999">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<label class="label">{{'Town'|translate}}</label>
			<input type="text" class="input">
		</div>
		<div class="col-sm-6">
			<label class="label">{{'Country'|translate}}</label>
			<input type="text" class="input">
		</div>
	</div>

	<div class="panel__group">
		<span class="panel__group-text">
			{{'Billing address'|translate}}
		</span>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<label class="label">{{'Address'|translate}}</label>
			<input type="text" class="input">
		</div>
		<div class="col-sm-4">
			<label class="label">{{'Zipcode'|translate}}</label>
			<input type="text" class="input" placeholder="66-999">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<label class="label">{{'Town'|translate}}</label>
			<input type="text" class="input">
		</div>
		<div class="col-sm-6">
			<label class="label">{{'Country'|translate}}</label>
			<input type="text" class="input">
		</div>
	</div>
</div>
