<div class="panel panel--tab">
    <div class="panel__header">
        <span class="panel__header-text">
            Upload new comment
        </span>
    </div>
    <div class="panel__body">
		<div>
			<textarea class="input" rows="5" placeholder="Roident est duis duis sit occaecat ea eiusmod laboris mollit ullamco mollit nisi veniam. it officia commodo ex"></textarea>
		</div>

        <div class="m--t-md t--c">
            <button class="btn btn--link">Clear date</button>
            <button class="btn btn--blue">Save</button>
        </div>
    </div>
</div>