<div>
    <div class="dragula__min">
        <span class="dragula__item-name">
            <svg-icon class="dragula__item-icon" src="assets/svg/checkbox.svg" [svgStyle]="{ 'width.px':16 }"></svg-icon>
            Checkbox
        </span>
        <span class="dragula__handle">
            <svg-icon src="assets/svg/draggable.svg" [svgStyle]="{ 'width.px':12 }"></svg-icon>
        </span>
    </div>
    <div class="dragula__max">
        <div class="checkbox">
			<input type="checkbox" class="checkbox__input">
			<label for="" class="checkbox__label">
                <input type="text" class="input input--label" placeholder="Chckbox name">
            </label>
		</div>
    </div>
</div>