<div>
  <div class="panel__header">
    <span class="panel__header-text">
      Variation
    </span>
  </div>

  <div class="panel__body">
    <div class="flex flex--middle flex--space-between">
      <div class="checkbox">
        <input type="radio" class="checkbox__input" name="send-info" id="send-info-choose-existing">
        <label for="send-info-choose-existing" class="checkbox__label">Choose existing</label>
      </div>
      <div class="checkbox">
        <input type="radio" class="checkbox__input" name="send-info" id="send-info-upload-new-file">
        <label for="send-info-upload-new-file" class="checkbox__label">Upload new file</label>
      </div>
      <div class="checkbox">
        <input type="radio" class="checkbox__input" name="send-info" id="send-info-quotation">
        <label for="send-info-quotation" class="checkbox__label">Quotation</label>
      </div>
    </div>
    
    <div class="m--t-md t--c">
      <button class="btn btn--link">Clear date</button>
      <button class="btn btn--blue">Save</button>
    </div>
  </div>
</div>
