<section class="sidebar">
  <div class="sidebar__overlay"></div>

  <div class="sidebar__panel">
    <header class="sidebar__header">
      <p class="sidebar__header-title">Create new {{tabHeading}}</p>
      <a [routerLink]="['/home']" class="sidebar__close">
        <i class="icon-close"></i>
      </a>
    </header>
    <div class="sidebar__panel-body">

      <tabset>
        <tab heading="Company" (select)="onSelect($event)">
          <app-new-company-tab></app-new-company-tab>
        </tab>

        <tab heading="Contact" (select)="onSelect($event)">
          <app-new-contact-tab></app-new-contact-tab>
        </tab>

        <tab heading="Search CoC" customClass="nav-search" (select)="onSelect($event)">
          <app-search-coc-tab></app-search-coc-tab>
        </tab>
      </tabset>

    </div>
  </div>
</section>