<section class="sidebar">
  <div class="sidebar__overlay"></div>

  <div class="sidebar__panel">
    <header class="sidebar__header">
      <p class="sidebar__header-title">Create new {{tabHeading}}</p>
      <a [routerLink]="['/home']" class="sidebar__close">
        <i class="icon-close"></i>
      </a>
    </header>
    <div class="sidebar__panel-body">


      <div class="panel">
        <div class="panel__group">
          <span class="panel__group-text">
              Company information
          </span>
        </div>

        <div class="panel__body">
          <div class="row">
            <div class="col-sm-5">
              <div class="placeholder placeholder--sm">
                <div class="placeholder__img"></div>
                <p class="placeholder__title">
                    Click to select file
                </p>
                <input class="placeholder__input" type="file">
              </div>
            </div>
            <div class="col-sm-7">
                <div>
                    <label class="label">Company name</label>
                    <div class="input-group input-group--required">
                        <input type="text" [(ngModel)]="companyName" class="input-group__input">
                    </div>
                </div>
                <div>
                    <label class="label">Phone number</label>
                    <input type="text" class="input" placeholder="+4 (900) ">
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m--t">
        <tabset>
          <tab heading="Company" (select)="onSelect($event)">
            <app-new-company-tab></app-new-company-tab>
          </tab>

          <tab heading="Contact" (select)="onSelect($event)">
            <app-new-contact-tab></app-new-contact-tab>
          </tab>

          <tab heading="Task followup" (select)="onSelect($event)">
            <app-new-task-followup-tab [companyName]="companyName"></app-new-task-followup-tab>
          </tab>

          <!-- <tab heading="Task followup" 
              (select)="onSelect($event)" 
              disabled="true"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              placement="top"
              container="body">
            <app-new-contact-tab></app-new-contact-tab>
          </tab> -->

          <!-- <tab heading="Search CoC" customClass="nav-search" (select)="onSelect($event)">
            <app-search-coc-tab></app-search-coc-tab>
          </tab> -->
        </tabset> 
      </div>

    </div>
  </div>
</section>