@import '../../../../web-src/less/variables.less';

// ------------------------------------------------
// Block '.dash-stat'
// ------------------------------------------------
.dash-stat{

    // Modificator '.dash-stat.dash-stat--line'
    &&--line{

    }

    // Element '.dash-stat .dash-stat__list'
    & &__list{
        margin-top: 30px;
        
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    & &__progress{
        position: relative;
        display: block;
        width: 100%;
        height: 16px;
        background-color: #eee;
        border-radius: 3px;

        &-item{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 16px;
            background-color: #eee;
            border-radius: 3px;
        }
    }
}

// ------------------------------------------------
// Block '.account-list'
// ------------------------------------------------
.account-list{

    & &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    & &__avatar{
        margin-right: 10px;
        // width: 30px;
        // height: 30px;
        border-radius: 4px;
        object-fit: cover;
    }

    a.account-list__name{
        // border-bottom: 1px solid;
        // color: @color-blue;
        color: #252841;
        text-decoration: none;

        &:hover{
            text-decoration: none;
            box-shadow: none;
            outline: none;
        }
    }

    & &__name{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        color: #252841;
        text-decoration: none;
    }

    & &__company{
        font-weight: 400;
        font-size: .9rem;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 4px 0 0 0;
        color: #B2C8DB;
    }
}


// ------------------------------------------------
// Block '.task-list'
// ------------------------------------------------
.task-list{

    & &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & &__name{
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        color: #252841;
        font-weight: 400;
        margin-top: 5px;
    }

    & &__company{
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        color: #252841;
        font-weight: 400;
        margin-top: 5px;
    }

    & &__type{
        font-size: 12px;
        line-height: 1;
        font-weight: 300;
        color: #B2C8DB;
    }

    & &__desc{
        font-size: 14px;
        line-height: 1;
        color: #252841;
        display: inline-block;
        vertical-align: middle;
    }

    & &__more{
        display: block;
        width: 100%;
    }
}