@import '../../../../web-src/less/variables.less';

// ------------------------------------------------
// Block '.task-list'
// ------------------------------------------------
.task-list{

    // Element '.task-list .task-list__body'
    & &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    // Element '.task-list .task-list__name'
    & &__name{
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        color: #252841;
        font-weight: 400;
        margin-top: 5px;
    }
    
    // Element '.task-list .task-list__company'
    & &__company{
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        color: #252841;
        font-weight: 400;
        margin-top: 5px;
    }
    
    // Element '.task-list .task-list__type'
    & &__type{
        font-size: 12px;
        line-height: 1;
        font-weight: 300;
        color: #B2C8DB;
    }
    
    // Element '.task-list .task-list__desc'
    & &__desc{
        font-size: 14px;
        line-height: 1;
        color: #252841;
        display: inline-block;
        vertical-align: middle;
    }
    
    // Element '.task-list .task-list__more'
    & &__more{
        display: block;
        width: 100%;
    }
}

// ------------------------------------------------
// Block '.dash-page'
// ------------------------------------------------
.dash-page{

    // Element '.dash-page .dash-page__chart'
    & &__chart{

        &.dash-page__chart--complete{
            display: grid;
            min-height: 240px;
            margin-left: -40px;
        }
    }
}


// ---------------------------------------------------------------------------
// size: xSmall
// ----------------------------------------------------------------------------
@media only screen and (max-width: @breakpoint-xs-max) and (min-width: @breakpoint-xs-min) {

    // ----------------------------------------------------
    // Block '.task-list'
    // ----------------------------------------------------
    .task-list{
        
        // Element '.task-list .task-list__body'
        & &__body{
            flex-wrap: wrap;
        }
        
        // Element '.task-list .task-list__type'
        & &__type{
            margin: 0;
        }
    }
}