<div class="container-fluid dash-page">
  <div class="row">
    <div class="col-sm-12">
      <section class="header">
        <div class="header__left">
          <div class="header__icon">
            <i class="header__icon-icon icon-dashboard"></i>
          </div>
          <div>
            <p class="header__title">{{'Dashboard'|translate}}</p>
            <ul class="header__breadcrumbs">
              <li class="header__breadcrumbs-item">
                <a href="" class="header__breadcrumbs-link"> {{'Home page'|translate}} </a>
              </li>
              <li class="header__breadcrumbs-item">
                <span href="" class="header__breadcrumbs-span">
                  {{'Dashboard page'|translate}}
                </span>
              </li>
            </ul>
          </div>
        </div>

        <button
          class="btn btn--blue btn--new"
          (click)="openSidebarNewCompany()"
        >
          <i class="btn__icon icon-new-plus"></i>
          <span class="btn__text hidden--xs">
            <span class="btn__text-text">{{'Create new company'|translate}}</span>
            <span class="btn__text-text btn__text-text--second"
              >{{'Click to create new company'|translate}}</span
            >
          </span>
        </button>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel__header">
          <div>
            <p class="panel__header-title">{{'Personal statistics'|translate}}</p>
            <p class="panel__header-text">
              {{'September - Here you can see your achievements / touches for this period'|translate}}
            </p>
          </div>

          <div [hidden]="!isCollapsedTopBar">
            <span
              class="badge"
              *ngFor="let item of contactGraphList"
              [ngStyle]="{ 'background-color': item.color }"
              >{{ item.title }}: {{ item.count }}</span
            >
          </div>

          <div>
            <button
              class="btn btn--squared btn--gray btn--ssm"
              (click)="collapsedTopBar()"
              [attr.aria-expanded]="!isCollapsedTopBar"
              aria-controls="collapseBasic"
            >
              <i
                class="btn__icon"
                [ngClass]="{
                  'icon-arrow-down-fill': isCollapsedTopBar,
                  'icon-arrow-up-fill': !isCollapsedTopBar
                }"
              ></i>
            </button>
            <button
              class="btn btn--circle btn--ssm btn--gray m--l"
              [popover]="dashPersonalStatistics"
              triggers="focus"
              container="body"
              placement="left"
            >
              <i class="btn__icon icon-question"></i>
            </button>
          </div>
        </div>
        <div class="panel__body" [collapse]="isCollapsedTopBar">
          <div class="row row--divider">
            <div class="col-md-3 col-xs-12">
              <p class="t--semi-bold">{{'Task history'|translate}}</p>
              <app-task-history-list
                [taskData]="dashboardData.history"
              ></app-task-history-list>
            </div>

            <div class="col-md-6 col-xs-12">
              <div class="row row--divider">
                <div class="col-md-4 col-sm-5 col-xs-12">
                  <p class="t--semi-bold">{{'Contacts'|translate}}</p>
                  <app-contact-list
                    [contactenList]="contactenList"
                    [contactData]="dashboardData?.statistics.contacts"
                    [taskData]="dashboardData?.statistics.tasks"
                  ></app-contact-list>
                </div>

                <div class="col-md-8 col-sm-7 col-xs-12">
                  <p class="t--semi-bold">{{'Complete tasks'|translate}}</p>
                  <app-complete-task [completeData]="completeTaskList">
                  </app-complete-task>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-xs-12">
              <p class="t--semi-bold">{{'Open quotations'|translate}}</p>
              <app-open-quotations-list
                [openQuotationsData]="dashboardData.quotations"
              ></app-open-quotations-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <!-- Task overdue -->
      <div class="panel panel--filter">
        <div class="panel__title t--red">
          <i class="icon icon-too-late m--r-mini"></i>
          <span class="t--semi-bold">{{'Task overdue'|translate}}</span>
        </div>
        <div class="">
          <ul class="tab tab--h">
            <li class="tab__item">
              <button
                class="tab__link"
                [(ngModel)]="taskOverdueFilter"
                btnRadio="all"
                tabindex="0"
                role="button"
              >
                {{'All'|translate}}
              </button>
            </li>
            <li class="tab__item">
              <button
                class="tab__link"
                [(ngModel)]="taskOverdueFilter"
                btnRadio="follow"
                tabindex="0"
                role="button"
              >
                {{'Follow'|translate}}
              </button>
            </li>
            <li class="tab__item">
              <button
                class="tab__link"
                [(ngModel)]="taskOverdueFilter"
                btnRadio="visit"
                tabindex="0"
                role="button">
                {{'Visit'|translate}}
              </button>
            </li>
          </ul>
        </div>
        <div>
          <div class="btn-group" dropdown>
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn btn--squared btn--gray btn--ssm dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              <i class="btn__icon icon-more"></i>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li>
                <div class="checkbox checkbox--sm">
                  <input
                    type="checkbox"
                    class="checkbox__input"
                    id="send-email"
                  />
                  <label for="send-email" class="checkbox__label"
                    >{{'Not present'|translate}}</label
                  >
                </div>
              </li>
              <li>
                <div class="checkbox checkbox--sm">
                  <input
                    type="checkbox"
                    class="checkbox__input"
                    id="send-email"
                  />
                  <label for="send-email" class="checkbox__label"
                    >{{'Not interested'|translate}}</label
                  >
                </div>
              </li>
              <li>
                <div class="checkbox checkbox--sm">
                  <input
                    type="checkbox"
                    class="checkbox__input"
                    id="send-email"
                  />
                  <label for="send-email" class="checkbox__label"
                    >{{'No time'|translate}}</label
                  >
                </div>
              </li>
              <li>
                <div class="checkbox checkbox--sm">
                  <input
                    type="checkbox"
                    class="checkbox__input"
                    id="send-email"
                  />
                  <label for="send-email" class="checkbox__label">{{'Visit'|translate}}</label>
                </div>
              </li>
            </ul>
          </div>
          <button
            class="btn btn--circle btn--ssm btn--gray m--l"
            [popover]="dashTaskToday"
            triggers="focus"
            container="body"
            placement="auto"
          >
            <i class="btn__icon icon-question"></i>
          </button>
        </div>
      </div>

      <!-- Task overdue list -->
      <div class="task-list">
        <div
          class="panel panel--sm"
          *ngFor="
            let item of (dashboardData.tasks | overdueTasks | slice: 0:overdued)
          "
        >
          <div class="panel__body task-list__body">
            <div class="flex flex--middle col-lg-3">
              <img
                *ngIf="item?.image"
                class="avatar avatar--square m--r-sm"
                [src]="item?.image"
                alt=""
              />
              <span class="avatar avatar--square avatar--empty m--r-sm" *ngIf="!item?.image"></span>
              <div>
                <a href="" class="task-list__company">{{
                  item.contact.name
                }}</a>
                <p class="task-list__type">{{ item.organisation_name }}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="flex flex--middle">
                <!-- <img class="avatar avatar--sm m--r-sm" [src]="" alt="" /> -->
                <span class="avatar avatar--sm avatar--empty m--r-sm"></span>
                <a href="" class="task-list__name">{{ item.sales.name }}</a>
              </div>
              <div>
                <i class="icon icon-desc t--gray m--r-mini"></i>
                <span class="task-list__desc">{{ item.outcome }}</span>
              </div>
            </div>
            <div class="col-lg-3 t--c">
              <span class="badge badge--gray">{{ item.status }}</span>
              <p class="t--md t--regular m--t-mini t--red t--c">
                {{ item.created | date }}
              </p>
            </div>
            <div class="col-lg-1 t--r">
              <button class="btn btn--circle btn--gray btn--ssm">
                <i class="btn__icon icon-more"></i>
              </button>
            </div>
          </div>
        </div>
        
        <!-- Task overdue empty list -->
        <div class="panel panel--sm" *ngIf="(dashboardData.tasks | overdueTasks | count | eq: 0)">
          <app-empty [Title]="'Please, change date on the task calendar'"></app-empty>
        </div>

        <div *ngIf="(dashboardData.tasks | overdueTasks | count | gt: 5)">
          <button
            class="task-list__more btn btn--gray btn--ssm"
            (click)="overdued = 100"
            *ngIf="overdued == 5"
          >
            {{'Show more'|translate}}
          </button>
          <button
            class="task-list__more btn btn--gray btn--ssm"
            (click)="overdued = 5"
            *ngIf="overdued == 100"
          >
            {{'Hide'|translate}}
          </button>
        </div>
      </div>

      <hr class="line line--dashed line--sm m--v" />

      <!-- Tasks today -->
      <div class="panel panel--filter">
        <div class="panel__title t--green">
          <i class="icon icon-today m--r-mini"></i>
          <span class="t--semi-bold">{{'Task today'|translate}}</span>
        </div>
        <div class="">
          <ul class="tab tab--h">
            <li class="tab__item">
              <button
                class="tab__link"
                [(ngModel)]="taskTodayFilter"
                btnRadio="all"
                tabindex="0"
                role="button"
              >
                {{'All'|translate}}
              </button>
            </li>
            <li class="tab__item">
              <button
                class="tab__link"
                [(ngModel)]="taskTodayFilter"
                btnRadio="follow"
                tabindex="0"
                role="button"
              >
                {{'Follow'|translate}}
              </button>
            </li>
            <li class="tab__item">
              <button
                class="tab__link"
                [(ngModel)]="taskTodayFilter"
                btnRadio="visit"
                tabindex="0"
                role="button"
              >
                {{'Visit'|translate}}
              </button>
            </li>
          </ul>
        </div>
        <div>
          <button class="btn btn--squared btn--gray btn--ssm">
            <i class="btn__icon icon-more"></i>
          </button>
          <button
            class="btn btn--circle btn--ssm btn--gray m--l"
            [popover]="dashTaskToday"
            triggers="focus"
            container="body"
            placement="left"
          >
            <i class="btn__icon icon-question"></i>
          </button>
        </div>
      </div>

      <!-- Tasks today list -->
      <div class="task-list">
        <div
          class="panel panel--sm"
          *ngFor="
            let item of (dashboardData.tasks
              | filterByMoment: 'due':date
              | slice: 0:displayedTasks)
          "
        >
          <div class="panel__body task-list__body">
            <div class="flex flex--middle col-lg-3">
              <img
                class="avatar avatar--square m--r-sm"
                [src]="item.image"
                *ngIf="item?.image"
                alt=""
              />
              <span class="avatar avatar--empty avatar--square m--r-sm" *ngIf="!item?.image"></span>
              <div>
                <a href="" class="task-list__company">{{
                  item.contact.name
                }}</a>
                <p class="task-list__type">{{ item.organisation_name }}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="flex flex--middle">
                <!-- <img class="avatar avatar--sm m--r-sm" [src]="" alt="" /> -->
                <span class="avatar avatar--sm avatar--empty m--r-sm"></span>
                <a href="" class="task-list__name">{{ item.sales.name }}</a>
              </div>
              <div>
                <i class="icon icon-desc t--gray m--r-mini"></i>
                <span class="task-list__desc">{{ item.outcome }}</span>
              </div>
            </div>
            <div class="col-lg-3 t--c">
              <span class="badge badge--gray">{{ item.status }}</span>
              <p class="t--md t--regular m--t-mini t--green t--c">
                {{ item.created | date }}
              </p>
            </div>
            <div class="col-lg-1 t--r">
              <button class="btn btn--circle btn--gray btn--ssm">
                <i class="btn__icon icon-more"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Task today empty list -->
        <div class="panel panel--sm" *ngIf="(dashboardData.tasks | filterByMoment: 'due':date | count | eq: 0)">
          <app-empty [Title]="'Please, change date on the task calendar'"></app-empty>
        </div>

        <div *ngIf="(dashboardData.tasks | filterByMoment: 'due':date | count | gt: 5)">
          <button
            class="task-list__more btn btn--gray btn--ssm"
            (click)="displayedTasks = 100"
            *ngIf="displayedTasks == 5"
          >
            {{'Show more'|translate}}
          </button>
          <button
            class="task-list__more btn btn--gray btn--ssm"
            (click)="displayedTasks = 5"
            *ngIf="displayedTasks == 100"
          >
            {{'Hide'|translate}}
          </button>
        </div>
      </div>
    </div>

    <!-- Task calendar -->
    <div class="col-lg-4">
      <div class="panel">
        <div class="panel__header">
          <p class="panel__header-title">{{'Task calendar'|translate}}</p>
          <button
            class="btn btn--circle btn--ssm btn--gray m--l"
            popover="Here you see your future/past tasks on date."
            triggers="focus"
            container="body"
            placement="auto"
          >
            <i class="btn__icon icon-question"></i>
          </button>
        </div>
        <!-- <div class="panel__body"> -->
        <div *ngIf="calendarOptions">
          <ng-fullcalendar
            class="calendar"
            #ucCalendar
            [options]="calendarOptions"
            (dayClick)="loadTasks($event)"
          >
          </ng-fullcalendar>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<!-- Sidebar panel create new company -->
<app-sidebar-new-company
  [(Hidden)]="isOpenSidebarNewCompany"
  [ngClass]="{ open: isOpenSidebarNewCompany }"
></app-sidebar-new-company>

<!-- Templates for popovers -->
<ng-template #dashPersonalStatistics>
  <p class="t--md">{{'Here you can see the following statistics for a period'|translate}}</p>
  <p class="t--md">
    <b>{{'Task history'|translate}}</b> - {{'With whom you had the latest contact'|translate}}.
  </p>
  <p class="t--md">
    <b>{{'Contacts'|translate}}</b> - {{'Leads, Prospects and Customers where you were in touch inthis period'|translate}}
  </p>
  <p class="t--md">
    <b>{{'Completed tasks'|translate}}</b> - {{'Overview of your tasks used during this period'|translate}}
  </p>
  <p class="t--md">
    <b>{{'Open quotations'|translate}}</b> - {{'Quotations you have sent and its validity'|translate}}
  </p>
</ng-template>

<ng-template #dashTaskToday>
  <p class="t--md">
    {{'Here you see the leads, prospects and customers where a task is still opento deal with'|translate}}
  </p>
  <p class="t--md">
    {{'Overdue tasks are handled to late Your manager receives a notification of this so it is its up to you to keep you manager and you customers happy'|translate}}
  </p>
  <p class="t--md">{{'Today are the tasks you have to deal with today'|translate}}</p>
  <p class="t--md">{{"Once you've entered companies, you'll see the following options:" |translate}} </p>
  <p class="t--md">
    {{'If you <b>click on a company name</b> you will be directed to the detailed company page'|translate}}
  </p>
  <p class="t--md">
    {{'If you <b>click on contact</b> you will be directed to the detailed contact page'|translate}}
  </p>
  <p class="t--md">
    {{'Previous results such as "Contact had no time", "Callback appointment", etc,indicate what the previous status of your task handling was'|translate}}
  </p>
  <p class="t--md">
    <span class="badge badge--gray">{{'Task'|translate}}</span> {{'indicates what action to take, By clicking here you can create a new task'|translate}}<br />
  </p>
  <p class="t--md">
    {{'With each task you create here, the prospect / customer will receive an email immediately'|translate}}<br />
    {{'This way you build a relationship with your relationship even faster'|translate}}
  </p>
  <p class="t--md">
    {{'The date field on the right gives you an overview of forward scheduled tasks to come'|translate}}
  </p>
</ng-template>
