<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12">
			<section class="header">

				<div class="header__left">
					<div class="header__icon">
						<i class="header__icon-icon icon-dashboard"></i>
					</div>
					<div>
						<p class="header__title">Dashboard</p>
						<ul class="header__breadcrumbs">
							<li class="header__breadcrumbs-item">
								<a href="" class="header__breadcrumbs-link">
									Home page
								</a>
							</li>
							<li class="header__breadcrumbs-item">
								<span href="" class="header__breadcrumbs-span">
									Dashboard page
								</span>
							</li>
						</ul>
					</div>
				</div>

			</section>
		</div>
	</div>

	<div class="row">	
		<div class="col-lg-12">
			<div class="panel">
				<div class="panel__header">
					<div>
						<p class="panel__header-title">
							Personal statistics
						</p>
						<p class="panel__header-text">
							September - Here you can see your achievements / touches for this period
						</p>
					</div>
					
					<div>
						<span class="badge badge--red">Expired tasks: 12</span>
						<span class="badge badge--gray">Expired tasks: 12</span>
						<span class="badge badge--green">Open tasks: 12</span>
						<span class="badge badge--yellow">Expired tasks: 12</span>
					</div>

					<span class="btn btn--circle btn--ssm btn--gray m--l"
							popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
							triggers="mouseenter:mouseleave"
							container="body"
							placement="auto">
						<i class="btn__icon icon-question"></i>
					</span>
				</div>
				<div class="panel__body">

					<div class="row">
						<div class="col-lg-3">
							<p class="t--semi-bold">Taak geschiedenis</p>

							<ul class="account-list list list--v list--line">
								<li class="account-list__item list__item" *ngFor="let item of taskHistoryList">
									<div class="account-list__content flex flex--middle">
										<img class="account-list__avatar" [src]="item.image" alt="">
										<a href="" class="account-list__name">Coen van der Kolk</a>
									</div>
									<p class="t--md t--regular m--reset t--red">{{item.date}}</p>
								</li>
							</ul>

							<p class="m--reset t--c">
								<a href="" class="btn btn--gray btn--ssm">Show more</a>
							</p>

						</div>
						<div class="col-lg-2">
							<p class="t--semi-bold">Contacten</p>

							<div>
								<ngx-charts-bar-vertical
									[view]="view"
									[scheme]="colorSchemeCircle"
									[results]="contacten"
									[gradient]="true"
									[xAxis]="false"
									[yAxis]="true"
									[legend]="false"
									[showXAxisLabel]="false"
									[showYAxisLabel]="false"
									[xAxisLabel]="false"
									[yAxisLabel]="false"
									(select)="onSelect($event)">
								</ngx-charts-bar-vertical>
							</div>
						</div>
						<div class="col-lg-3">
							<p class="t--semi-bold">Afgeronde taken</p>

							<div>
								<ngx-charts-pie-chart
									[view]="viewCircle"
									[scheme]="colorSchemeCircle"
									[results]="afgeronde"
									[gradient]="false"
									[legend]="false"
									[labels]="false"
									[doughnut]="true"
									[arcWidth]="0.5"
									[trimLabels]="true"
									>
								</ngx-charts-pie-chart>
							</div>
						</div>
						<div class="col-lg-4">
							<p class="t--semi-bold">Openstaande offertes</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">	

		<!-- Tasks -->
		<div class="col-lg-8">
			<div class="panel">
				<div class="panel__header">
					<p class="panel__header-title">
						Tasks
					</p>
					<div>
						<button class="btn btn--blue btn--sm">
							<i class="btn__icon icon-plus"></i>
							<span>Add new company</span>
						</button>

						<span class="btn btn--circle btn--ssm btn--gray m--l"
								popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
								triggers="mouseenter:mouseleave"
								container="body"
								placement="auto">
								<i class="btn__icon icon-question"></i>
							</span>
					</div>
				</div>
				<div class="panel__body">

					<div class="group group--red">
						<p class="group__text">Too late</p>
					</div>
					<ul class="account-list list list--v list--line">
						<li class="account-list__item list__item" *ngFor="let item of taskHistoryLateList">
							<div class="account-list__content flex flex--middle col-lg-3">
								<img class="account-list__avatar" [src]="item.image" alt="">
								<a href="" class="account-list__name">{{item.name}}</a>
							</div>
							<div class="account-list__content flex flex--middle col-lg-3">
								<img class="account-list__avatar" [src]="item.image" alt="">
								<a href="" class="account-list__name">{{item.contactName}}</a>
							</div>
							<span class="col-lg-2">
								{{item.result}}
							</span>
							<div class="col-lg-3 t--c">
								<span class="badge badge--gray">{{item.task}}</span>
							</div>
							<p class="t--md t--regular m--reset t--red t--c">{{item.date}}</p>
						</li>
					</ul>


					<div class="group group--green m--t">
						<p class="group__text">Vandaag</p>
					</div>
					<ul class="account-list list list--v list--line">
						<li class="account-list__item list__item" *ngFor="let item of taskHistoryLateList">
							<div class="account-list__content flex flex--middle col-lg-3">
								<img class="account-list__avatar" [src]="item.image" alt="">
								<a href="" class="account-list__name">{{item.name}}</a>
							</div>
							<div class="account-list__content flex flex--middle col-lg-3">
								<img class="account-list__avatar" [src]="item.image" alt="">
								<a href="" class="account-list__name">{{item.contactName}}</a>
							</div>
							<span class="col-lg-2">
								{{item.result}}
							</span>
							<div class="col-lg-3 t--c">
								<span class="badge badge--gray">{{item.task}}</span>
							</div>
							<p class="t--md t--regular m--reset t--green t--c">{{item.date}}</p>
						</li>
					</ul>

				</div>
			</div>
		</div>

		<!-- Task calendar -->
		<div class="col-lg-4">
			<div class="panel">
				<div class="panel__header">
					<p class="panel__header-title">
						Task calendar
					</p>
					<div>
						<span class="btn btn--circle btn--ssm btn--gray"
								popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
								triggers="mouseenter:mouseleave"
								container="body"
								placement="auto">
							<i class="btn__icon icon-question"></i>
						</span>
					</div>
				</div>
				<div class="panel__body">
					<div *ngIf="calendarOptions">
						<ng-fullcalendar 
							class="calendar" 
							#ucCalendar 
							[options]="calendarOptions" 
							(eventClick)="eventClick($event.detail)" 
							(eventDrop)="updateEvent($event.detail)"
							(eventResize)="updateEvent($event.detail)" 
							(clickButton)="clickButton($event.detail)"
							>
						</ng-fullcalendar>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
