<div class="panel panel--tab">
    <div class="panel__header">
        <span class="panel__header-text">
            Upload new file
        </span>
    </div>
    <div class="panel__body">
        <div class="placeholder placeholder--sm">
            <div class="placeholder__img"></div>
            <p class="placeholder__title">
                Click to select file
            </p>
            <p class="placeholder__desc">
                (Max file size: 25 MB; Allowed formats: Documents, presentations and images)
            </p>
            <input class="placeholder__input" type="file">
        </div>


        <div class="m--t-md t--c">
            <button class="btn btn--link">Clear date</button>
            <button class="btn btn--blue">Save</button>
        </div>
    </div>
</div>