<div>
    <div class="dragula__min">
        <span class="dragula__item-name">
            <svg-icon class="dragula__item-icon" src="assets/svg/single-line.svg" [svgStyle]="{ 'width.px':16 }"></svg-icon>
            Single line text
        </span>
        <span class="dragula__handle">
            <svg-icon src="assets/svg/draggable.svg" [svgStyle]="{ 'width.px':12 }"></svg-icon>
        </span>
    </div>
    <div class="dragula__max">
        <input class="input input--label" placeholder="Write text for label input here..." type="text">
        <input class="input" type="text" placeholder="Write text for field placeholder here...">
    </div>
</div>