<div class="panel file-item">
	<div class="panel__teaser">
		<img src="{{file.image}}" class="panel__teaser-img" alt="">

		<div class="panel__teaser-btns">
			<button class="btn btn--white btn--circle" (click)="openModal(template)">
				<i class="btn__icon icon-eye"></i>
			</button>
			<button class="btn btn--white btn--circle">
				<i class="btn__icon icon-edit"></i>
			</button>
			<button class="btn btn--white btn--circle">
				<i class="btn__icon icon-delete"></i>
			</button>
		</div>
	</div>
	<div class="panel__body">
		<p class="file-item__name">{{file.name}}</p>
		<p class="file-item__added">{{'Added:'|translate}} <b>{{file.added}}</b></p>
		<p class="file-item__view">{{'Last viewed:'|translate}} <b>{{file.view}}</b></p>
	</div>
</div>


<ng-template #template class="modal-sm">
	<div class="modal-header">
		<h4 class="modal-title pull-left">
		{{'File name:'|translate}} "Show 121_ma.jpg"
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/NYC_14th_Street_looking_west_12_2005.jpg/1200px-NYC_14th_Street_looking_west_12_2005.jpg" alt="">
	</div>
</ng-template>
