<aside class="aside">
    <div>
        <div class="aside__header">
            <span class="aside__header-avatar avatar">
                <i class="avatar__icon"></i>
            </span>
            <div>
                <p class="aside__header-name">Coen van der Kolk</p>
                <p class="aside__header-role">Administrator</p>
            </div>
        </div>
        <ul class="aside__menu">
            <li class="aside__item">
                <a href="" class="aside__link">Dashboard</a>
            </li>
            <li class="aside__item">
                <a href="" class="aside__link">CRM</a>
            </li>
            <li class="aside__item">
                <a href="" class="aside__link">Kalendar</a>
            </li>
            <li class="aside__item">
                <a href="" class="aside__link">Communicatie centrum</a>
            </li>
            <li class="aside__item">
                <a href="" class="aside__link">Mijn team</a>
            </li>
            <li class="aside__item">
                <a href="" class="aside__link">Gedeelde bestanden</a>
            </li>
            <li class="aside__item">
                <a href="" class="aside__link">Instellingen</a>
            </li>
            <li class="aside__item">
                <a href="" class="aside__link">Help</a>
            </li>
        </ul>
    </div>
    <div class="aside__footer">
        <ul class="aside__menu">
            <li class="aside__item">
                <a href="" class="aside__link">Exit</a>
            </li>
        </ul>

        <p class="aside__copyright">
            © Copyright <a href="" class="link">Salesinteract</a> 2018
        </p>
    </div>
</aside>