.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
}
.aside .aside__header {
  background-color: #2EAEFE;
  padding: 30px 20px;
  color: #fff;
  display: flex;
  align-items: center;
}
.aside .aside__header-avatar {
  margin-right: 20px;
  width: 60px;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  border: none;
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.aside .aside__header-avatar .avatar__icon {
  font-size: 25px;
  color: #2EAEFE;
}
.aside .aside__header-name {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.aside .aside__header-role {
  margin: 0;
  font-size: 13px;
  font-size: 300;
  opacity: .6;
}
.aside .aside__menu {
  padding: 30px 0;
}
.aside .aside__item .aside__menu {
  padding: 0;
}
.aside .aside__item .aside__menu .aside__link {
  padding-left: 50px;
}
.aside .aside__item .aside__menu .aside__link:before {
  content: '';
  position: absolute;
  left: 25px;
  top: 50%;
  display: block;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-radius: 100%;
  border: 2px solid #A5C1D4;
  transition: all .3s;
}
.aside .aside__item .aside__menu .aside__link.active:before {
  border-color: #2EAEFE;
}
.aside .aside__link {
  position: relative;
  display: block;
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: #252841;
  font-weight: 600;
  padding: 15px 20px;
  border: none;
  border-left: 3px solid transparent;
  box-shadow: none;
  outline: none;
  transition: all .3s;
}
.aside .aside__link.aside__link--collapse {
  padding-right: 0;
  justify-content: space-between;
}
.aside .aside__link.aside__link--collapse .aside__link-icon.aside__link-icon--arrow {
  font-size: 12px;
  line-height: 18px;
}
.aside .aside__link.active {
  color: #2EAEFE;
  border-left-color: #2EAEFE;
}
.aside .aside__link.active .aside__link-icon {
  color: #2EAEFE;
}
.aside .aside__link:hover {
  background-color: #fafafa;
  color: #2EAEFE;
}
.aside .aside__link:hover .aside__link-icon {
  color: #2EAEFE;
}
.aside .aside__link-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin-right: 14px;
  color: #A5C1D4;
  transition: all .3s;
}
.aside .aside__footer .aside__menu {
  position: relative;
}
.aside .aside__footer .aside__menu:before,
.aside .aside__footer .aside__menu:after {
  content: '';
  position: absolute;
  left: 25px;
  right: 25px;
  border-top: 1px solid #F0F0F0;
}
.aside .aside__footer .aside__menu:before {
  top: 15px;
}
.aside .aside__footer .aside__menu:after {
  bottom: 15px;
}
.aside .aside__copyright {
  padding: 20px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #A5C1D4;
}
.aside .aside__copyright .link {
  border-bottom: 1px solid #2EAEFE;
  color: #2EAEFE;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .aside {
    left: -100%;
  }
}
