<div class="panel panel--tab">
	<div class="panel__group">
		<span class="panel__group-text">
			Task type 
		</span>
	</div>

	<div class="panel__body">
		
		<div class="row">
			<div class="col-lg-6">
				<div class="checkbox">
					<input type="radio" class="checkbox__input" name="task-type" id="type-np" [checked]="taskType == 'np'" (change)="changeTaskType('np')" />
					<label for="type-np" class="checkbox__label">Not present</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="checkbox">
					<input type="radio" class="checkbox__input" name="task-type" id="type-sdht" [checked]="taskType == 'sdht'" (change)="changeTaskType('sdht')" />
					<label for="type-sdht" class="checkbox__label">Sales do not have time</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="checkbox">
					<input type="radio" class="checkbox__input" name="task-type" id="type-ni" [checked]="taskType == 'ni'" (change)="changeTaskType('ni')" />
					<label for="type-ni" class="checkbox__label">Not interested</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="checkbox">
					<input type="radio" class="checkbox__input" name="task-type" id="type-se" [checked]="taskType == 'se'" (change)="changeTaskType('si')" />
					<label for="type-se" class="checkbox__label">Send information</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="checkbox">
					<input type="radio" class="checkbox__input" name="task-type" id="type-nt" [checked]="taskType == 'nt'" (change)="changeTaskType('nt')" />
					<label for="type-nt" class="checkbox__label">No time</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="checkbox">
					<input type="radio" class="checkbox__input" name="task-type" id="type-cbl" [checked]="taskType == 'cbl'" (change)="changeTaskType('cbl')" />
					<label for="type-cbl" class="checkbox__label">Call back later</label>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="checkbox">
					<input type="radio" class="checkbox__input" name="task-type" id="type-v" [checked]="taskType == 'v'" (change)="changeTaskType('v')" />
					<label for="type-v" class="checkbox__label">Visit</label>
				</div>
			</div>
		</div>

	</div>

	<!-- ************ -->
	<!-- Not Present -->
	<!-- ************ -->
	<div *ngIf="taskType == 'np'">
		<app-not-present></app-not-present>
	</div>


	<!-- ************ -->
	<!-- Not interested -->
	<!-- ************ -->
	<div *ngIf="taskType == 'ni'">
		<app-not-interested></app-not-interested>
	</div>


	<!-- ************ -->
	<!-- Not time -->
	<!-- ************ -->
	<div *ngIf="taskType == 'nt'">
		<app-not-time></app-not-time>
	</div>


	<!-- ************ -->
	<!-- Visit -->
	<!-- ************ -->
	<div *ngIf="taskType == 'v'">
		<app-visit></app-visit>
	</div>


	<!-- ************ -->
	<!-- Sales do not have time -->
	<!-- ************ -->
	<div *ngIf="taskType == 'sdht'">
		<app-sales-do-not-have-time></app-sales-do-not-have-time>
	</div>


	<!-- ************ -->
	<!-- Send information -->
	<!-- ************ -->
	<div *ngIf="taskType == 'si'">
		<app-send-information></app-send-information>
	</div>


	<!-- ************ -->
	<!-- Call back later -->
	<!-- ************ -->
	<div *ngIf="taskType == 'cbl'">
		<app-call-back-later></app-call-back-later>
	</div>
</div>